*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'DM Serif Text', serif;
}

#home-logo{
	height:40px;
}

#footer-logo{
	height:40px;
	border-radius: 50%;
}

/*Start land css*/
#land-section{
	height:100vh;
	background:url(../images/bg-land1.png);
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
}

#land-container{
	color:white;
	padding-top:410px;
}

#land-btn{
	border-radius:10px solid white;
}

#land-a{
	color:white;
}

#land-col{
	background:rgba(0,0,0,0.75);
	border-radius:10px;
	margin:10px;
}
/*End land css*/

/*Start story css*/
#story-body {
	height:100vh;
	background:url(../images/bg-story1.jpg);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
}

#story-container{
	padding:10px;
	background:rgba(0,0,0,0.5);
	margin:50px;
	border-radius:10px;
	border:1px solid white;
}

ul{
	margin:10px;
}

#story-list-sub{
	margin-left:20px;
}

#list-img{
	list-style: none;
	text-align: center;
}
/*End story css

/*start map css*/
#map-body {
	height:100vh;
	background:url(../images/bg-map1.jpg);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
} 

#map-container{
	padding:10px;
	background:rgba(0,0,0,0.6);
	margin:50px;
	border-radius:10px;
	border:1px solid white;
}

#map-story{
	width:500px;
}
/*End map css*/

/*start character css*/
#char-container{
	height:75vh;
}

#char-body{
	background:url(../images/bg-char3.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
}

#char-carousel{
	padding:20px;
	border-radius:10px;
	background:rgba(0,0,0,0.5);
	margin:50px;
	border-radius:10px;
	border:1px solid white;
}

.char-list{
	list-style: none;
}

span{
	font-size:50px;
	padding:10px;
}
/*end character css*/

/*Start about css**/
#about-body {
	height:100vh;
	background:url(../images/bg-about1.jpg);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
}

#about-section{
	height:80vh;
}

#about-content{
	margin:50px;
	padding:20px;
	background: rgba(0,0,0,0.75);
	color:white;
	border:1px;
	border-radius:10px;
}

/*other screen css*/
@media only screen and (max-width: 450px){
	#land-container{
	color:white;
	padding-top:580px;
	}
	#nav-footer{
		display:none;
	}
	#pic-story{
		width:230px;
	}
	#map-story{
		width:230px;
	}
	#char-story{
		width:200px;
	}
	#char-icon{
		width:150px;
	}
	#about-section{
		width:100%;
	}
}

@media only screen and (min-width: 450px) and (max-width: 960px){
	#land-container{
	color:white;
	padding-top:720px;
	}
	#pic-story{
		width:500px;
	}
	#map-story{
		width:500px;
	}
	#char-story{
		width:200px;
	}
	#char-icon{
		width:100px;
	}
	#nav-footer{
		display:none;
	}
	#about-section{
		width:100%;
	}
}


@media only screen and (min-width: 961px){ 
}
/*End about css
